.l-contact {
  background-color: $contact-bg;
  position: relative;
  padding: 80px 0;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: $base-white transparent transparent transparent;

    @include media(lg) {
      border-width: 120px 120px 0 0;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 60px 60px;
    border-color: transparent transparent $base-white transparent;

    @include media(lg) {
      border-width:0 0 120px 120px;
    }
  }

  &.confirm {
    background-color: $base-white;
  }
}
