.l-header {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  @include media(md) {
    display: block;
  }

  &.l-header__sub {
    justify-content: space-between;
    @include media(md) {
      display: block;
    }
  }
}
