@import "../../Foundation/_color";
@import "../../Foundation/_mixin";

.p-404__icon {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto 60px;
  @include media(md) {
    width: 50%;
  }
}

.p-404__text {
  letter-spacing: 2px;
  margin-bottom: 60px;
  @include media(md) {
    text-align: center;
  }
}
.p-404__link-box {
  display: flex;
  justify-content: center;
}

.p-404__link {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: underline;
  &:hover {
    opacity: 0.6;
    color: $contact-link-hover;
  }
}
