.p-work-all {
  padding: 100px 20px 80px;
}

.p-work-all__siteTitle {
  margin-top: 10px;
  letter-spacing: 2px;
  font-weight: 500;
  // color: $base-green;
}

.p-work-all__box {
  overflow: hidden;
  border-radius: 8px;
}
