.p-work-detail {
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 20px 80px;
  @include media(md) {
    padding: 100px 20px 80px;
  }
}

.p-work-detail__title {
  border-left: 6px solid $base-green;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 8px;
  @include font-size-rem(18);
  @include media(md) {
    @include font-size-rem(34);
  }
}

.p-work-detail__site-topImg {
  margin-bottom: 60px;
  height: auto;
  width: 100%;
}

.p-work-detail__wrap {
  width: 100%;
  @include media(md) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.p-work-detail__site-allImg {
  margin-bottom: 40px;
  height: auto;
  width: 100%;
  box-shadow: 2px 2px 8px 0px rgba(91, 100, 90, 0.5);
  @include media(md) {
  }
}

.p-work-detail__link {
  @include font-size-rem(14);
  @include media(sm) {
    @include font-size-rem(16);
  }
  & a {
    color: $base-white;
    display: block;
    background-color: $base-green;
    border-radius: 8px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    padding: 8px;
    text-align: center;
    transition: background-color 0.2s ease-in;

    @include media(md) {
      padding: 14px 0;

      &:hover {
        background-color: $base-white;
        border: 1px solid $base-green;
        color: $base-green;
      }
    }
  }
}

.p-work-detail__text-box {
  word-break: break-all;
  @include font-size-rem(14);
  @include media(sm) {
    @include font-size-rem(16);
  }
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.p-work-detail__comment {
  line-height: 1.5;
  margin-bottom: 30px;
  @include font-size-rem(14);
  @include media(sm) {
    @include font-size-rem(16);
  }
}

.p-work-detail__text-title {
  border-bottom: 3px solid rgba(124, 124, 124, 0.2);
  margin-bottom: 8px;
  padding-bottom: 3px;
}

.p-work-detail__text-contents {
  word-break: break-all;
  line-height: 1.5;
}
