.p-about {
  padding-bottom: 80px;
}

.p-about__wrap {
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 90px 1fr;
  grid-template-rows: minmax(90px, auto);
  @include media(md) {
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: minmax(auto, auto);
  }
}

.p-about__face {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
  height: auto;
  @include media(md) {
    width: 200px;
    grid-row: 1/3;
  }
}
.p-about__profile {
  @include media(md) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.p-about__profile-myname {
  margin-bottom: 12px;
  @include font-size-rem(24);
}

.p-about__introduce {
  margin-top: 10px;
  grid-column: 1/3;
  @include media(md) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.p-about__introduce-text {
  @include font-size-rem(14);
  line-height: 1.8;
  letter-spacing: 2px;
}
