.p-hero {
  min-height: 95vh;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  backface-visibility: hidden;
}
.p-hero__title {
  position: absolute;
  top: calc(50% - 45px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block;
  @include font-size-rem(32);
  font-family: "Merienda", cursive;
  letter-spacing: 2px;

  @include media(md) {
    top: calc(50% - 90px);
    @include font-size-rem(60);
  }
}

.p-slide-in {
  overflow: hidden;
  display: inline-block;
}

.p-slide-in__inner {
  display: inline-block;
}

.leftAnimate {
  opacity: 0;
}

.slideLeftRight {
  will-change: transform, animation;
  @include animation($name: kf-LeftRight, $duration: 1s);
  opacity: 0;
}

@keyframes kf-LeftRight {
  from {
    transform: translate(-100%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.slideRightLeft {
  will-change: transform, animation;
  @include animation($name: kf-RightLeft, $duration: 1.2s);
  opacity: 0;
}

@keyframes kf-RightLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*---------------------------------------------------
hero__icon
----------------------------------------------------*/

.p-hero__icon {
  max-width: 320px;
  width: 95%;
  height: auto;
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% + 20px);
  transform: translate(-50%, -50%);
  @include media(md) {
    max-width: 100%;
    width: 600px;
    height: 360px;
    top: calc(50% + 40px);
  }

  &.wind {
    visibility: hidden;
  }
  &.leaf {
    opacity: 0;
  }
}

.leaf-animation {
  opacity: 0;
  @include animation($name: kf-leaf-fall, $duration: 2s, $delay: 0.5s);
}
@keyframes kf-leaf-fall {
  from {
    opacity: 0;
    transform: translate(-45%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
