@import "../../Foundation/_color";
@import "../../Foundation/_mixin";

// ==========================================================================
// MW WP Form (comfirm)
// ==========================================================================

.error {
  font-weight: bold;
  color: $contact-error;
}

.c-contact__label {
  &.confirm__label {
    border-bottom: 1px dashed $base-black-thin;
  }
}

.example {
  display: none;
}

.p-contact__btn-back {
  padding: 8px 0;
  width: 150px;
  margin: 40px auto 0;
  display: block;
  background-color: transparent;
  border: none;
  color: $base-black-thin;
  text-decoration: underline;

  &:hover {
    color: $contact-link-hover;
  }
}

// conatct-complete

.p-contact-complete {
  display: flex;
  justify-content: center;
}

.p-contact-complete__btn {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: underline;
  &:hover {
    opacity: 0.6;
    color: $contact-link-hover;
  }
}
