.c-404__icon {
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto 60px;
  @include media(md) {
    width: 50%;
  }
}

.c-404__text {
  letter-spacing: 2px;
  margin-bottom: 60px;
  @include media(md) {
    text-align: center;
  }
}
.c-404__link-box {
  display: flex;
  justify-content: center;
}

.c-404__link {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: underline;
  &:hover {
    opacity: .6;
  }
}
