
.fade-down {
  @include animation(
    $name: fadeDown,
    $duration: 1.2s,
    );
  opacity: 0;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
