.c-foot-menu__list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.c-foot-menu__item {
  word-wrap: break-word;
  &:not(:last-of-type) {
    &::after {
      content: "/";
      display: inline;
    }
  }
}

.c-foot-menu__link {
  @include font-size-vw(12);
  padding: 8px 6px;
  color: $base-black-thin;
  transition: color 0.3s ease-in, border-bottom 0.2s ease-in;
  word-wrap: break-word;

  @include media(lg) {
    @include font-size-rem(24);
    padding: 8px 16px;
  }

  &:hover {
    color: $base-green;
    border-bottom: 2px dashed;
  }
}

.copyright {
  @include font-size-rem(12);
  @include media(md) {
    @include font-size-rem(16);
  }
}

/*---------------------------------------------------
SNSアイコン
----------------------------------------------------*/

.c-sns__list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.c-sns__item {
  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

.c-sns__link > img {

  @include media(md) {
    width: 35px;
    height:35px;
  }
}
