.c-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  appearance: none;
  border: none;
  background-color: transparent;
  z-index: 10;

  @include media(md) {
    display: none;
  }
}

.c-hamburger {
  width: 50px;
  height: 50px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 2px solid $base-black;
  box-shadow: 0 0 2rem transparent;
  outline: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 0.5rem $base-green;
  }
}

.c-hamburger__line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 2px;
  background-color: $base-black;
  transition: inherit;
}
.c-hamburger__line {
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: "";
    transition: inherit;
  }
}

.c-hamburger__line {
  &::before {
    top: -8px;
  }
  &::after {
    top: 8px;
  }
}

.c-hamburger[aria-expanded="true"] .c-hamburger__line {
  background-color: transparent;
  &::before,
  &::after {
    top: 0;
    background-color: $base-black;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.c-visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
