.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;

  & .loaded {
    opacity: 0;
    visibility: hidden;
  }
}

.spinner {
  width: 50px;
  height: 50px;
  position: relative;
}

.double-bounce {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $base-green;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid green;
  animation: sk-bounce 3s infinite ease-in-out;

  &:nth-of-type(2) {
    animation-delay: -1s;
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}
