.c-section__title {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-family: "Neucha", cursive;
  @include font-size-rem(44);

  @include media(md) {
    @include font-size-rem(60);
    letter-spacing: 4px;
  }
}

.fade-in {
  @include animation(
    $name: fadeIn,
    $duration: 0.8s,
    );
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeUpTrigger {
  opacity: 0;
}

.c-section__icon {
  margin: 0 auto 40px;
  display: block;
  width: 40%;
  height: 40%;

  &.c-skill__icon {
    width: 35%;
    height: 35%;
  }

  @include media(md) {
    width: 25%;
    height: 25%;

    &.c-contact__icon {
      width: 15%;
      height: 15%;
    }
    &.c-skill__icon {
      width: 20%;
      height: 20%;
    }
  }
}
