.c-work__list {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;

  @include media(md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 20px;
  }

  @include media(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.c-work__item {
  overflow: hidden;
  border-radius: 8px;
}

.c-work__link {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 12px 9px 20px 0px rgba(91, 100, 91, 0.6);
  transition: transform .2s ease-in;
}

.c-work__link > img {
  display: block;
  width: 100%;
  height: auto;

  @include media(md) {
  }
}

.c-work__slidebg {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  // z-index: 10;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1000%;
    background-image: $work-slidecover;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
  }

  // &::before {
  //   content: "詳しく見る";
  //   display: block;
  //   text-align: center;
  //   letter-spacing: 2px;
  //   color: $base-white;
  //   position: absolute;
  //   bottom: 3%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   opacity: 0;
  //   transition: opacity 0.5s ease-in-out;
  //   z-index: 10;
  // }

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 20%;
  //   background-image: $work-slidecover;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   transform: translateY(101%);
  //   transition: transform 0.2s ease-in-out;
  // }

  &:hover {
    transform: scale(1.2);
    &::after {
      opacity: .6;
    }
    // &::before {
    //   opacity: 1;
    // }
    // &:after {
    //   transform: none;
    // }
  }
}
