.c-work__list {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;

  @include media(md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 20px;
  }

  @include media(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.c-work__item {
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
  opacity: 0;
}

.c-work__link {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 12px 9px 20px 0px rgba(91, 100, 91, 0.6);
  transition: transform 0.2s ease-in;
}

.c-work__link > img {
  display: block;
  width: 100%;
  height: auto;

  @include media(md) {
  }
}

.c-work__slidebg {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;

  @include media(md) {
    &::before {
      content: "詳しく見る";
      display: block;
      text-align: center;
      letter-spacing: 2px;
      color: $base-white;
      position: absolute;
      bottom: 20px;
      right: -15px;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      z-index: 10;
    }

    &::after {
      content: "";
      display: block;
      width: 160px;
      height: 160px;
      border-radius: 100% 0 0 0;
      background-color: $base-green;
      opacity: 0.9;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(101%);
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      transform: scale(1.1);

      &::before {
        opacity: 1;
      }
      &:after {
        transform: none;
      }
    }
  }
}
